<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Personal - Start Bootstrap Theme</title>

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        h2 {
            font-size: 24px;
        }

        h3 {
            font-size: 20px;
        }

        p {
            font-size: 16px;
        }

        .c6 {
            font-weight: 700;
        }
    </style>
</head>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!--Section-->
        <section class="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="c8">
                            <span>1. </span><span class="c12">Introduction</span>
                        </h2>

                        <p class="c0">
                            <span class="c6">A. Platform Management:</span><span class="c1"><br />The website
                                (&quot;Website&quot;) and the mobile
                                application &lsquo;Selorg&rsquo; (&quot;App&quot;)
                                (collectively referred to as the &quot;Platform&quot;) are
                                owned and operated by Selorg Tech Private Limited
                                (&quot;Company&quot;). The term &quot;Company&quot;
                                encompasses any entity responsible for the Platform&#39;s
                                management and operation for retail purposes.</span>
                        </p>
                        <p class="c0">
                            <span class="c13"></span><span class="c6">B. Terms of Use:</span><span class="c1"><br />Your
                                access and use of the Platform are governed by
                                these terms of use (&quot;Terms&quot;). References to
                                &quot;Selorg,&quot; &quot;We,&quot; &quot;Us,&quot; or
                                &quot;Our&quot; indicate the Company, while &quot;You,&quot;
                                &quot;Your,&quot; or &quot;User&quot; refer to individuals
                                utilizing the Platform.</span>
                        </p>
                        <p class="c0">
                            <span class="c13"> </span><span class="c6">C. Agreement &amp; Consent:</span><span
                                class="c1"><br />Please review these Terms carefully before using the
                                Platform. If you disagree with them, you should discontinue
                                use and uninstall the app. By accessing or using the Platform,
                                you acknowledge and accept these Terms, as well as other
                                Selorg policies (such as the privacy policy and refund
                                policy), subject to periodic modifications. Your continued use
                                signifies agreement to the latest Terms and establishes a
                                binding legal relationship between you and Selorg.
                                Additionally, by sharing personal information, you consent to
                                its use for service delivery in accordance with these
                                Terms.</span>
                        </p>
                        <p class="c0">
                            <span class="c13"></span><span class="c6">D. Amendments &amp; Updates:</span><span
                                class="c1"><br />Selorg reserves the right to modify these Terms at its
                                discretion. The &quot;Last Updated&quot; section on the
                                Platform reflects the latest version. Users are encouraged to
                                review the Terms periodically. Continued use after
                                modifications implies acceptance. If you do not agree with any
                                updates, you must cease using the Platform. As a commitment to
                                your trust, we take appropriate measures to safeguard
                                transactions and personal data.</span>
                        </p>
                        <h2 class="c8">
                            <span class="c5">2. Products and Services</span>
                        </h2>
                        <p class="c0">
                            <span class="c1">The Platform provides users with access to:</span>
                        </p>
                        <ol class="c4 lst-kix_list_11-0 start" start="1">
                            <li class="c0 c2 li-bullet-0">
                                <span class="c1">A restricted, individual, non-exclusive, non-transferable,
                                    and revocable license to purchase products such as fruits,
                                    vegetables, and groceries for personal use
                                    only&mdash;strictly prohibiting resale.</span>
                            </li>
                            <li class="c0 c2 li-bullet-0">
                                <span class="c1">Assistance with inquiries or issues related to account
                                    management and orders placed through the Platform.</span>
                            </li>
                            <li class="c0 c2 li-bullet-0">
                                <span class="c1">Services such as product handling, last-mile delivery, or
                                    related support, which are only available when purchasing
                                    products through the Platform. Additional fees may apply for
                                    such services.</span>
                            </li>
                        </ol>
                        <h3 class="c3">
                            <span class="c7">Restrictions and Discretion</span>
                        </h3>
                        <ul class="c4 lst-kix_list_12-0 start">
                            <li class="c0 c2 li-bullet-0">
                                <span class="c1">Platform access is limited to personal use, excluding
                                    commercial usage or resale of its Content (as defined
                                    below).</span>
                            </li>
                            <li class="c0 c2 li-bullet-0">
                                <span class="c1">The Company retains the right to modify or remove products
                                    or services at its discretion without prior notice.</span>
                            </li>
                            <li class="c0 c2 li-bullet-0">
                                <span class="c1">Certain product categories may be subject to additional
                                    terms, which will apply alongside these Terms.</span>
                            </li>
                        </ul>
                        <h3 class="c3">
                            <span class="c7">Availability of Products and Services</span>
                        </h3>
                        <ul class="c4 lst-kix_list_13-0 start">
                            <li class="c0 c2 li-bullet-0">
                                <span class="c1">Selorg determines the cities and regions in India where its
                                    services are available. Users must verify availability in
                                    their location before placing orders.</span>
                            </li>
                            <li class="c0 c2 li-bullet-0">
                                <span class="c1">Deliveries may be fulfilled either directly or through
                                    third-party service providers.</span>
                            </li>
                        </ul>
                        <h3 class="c3">
                            <span class="c7">Commitments of the Company</span>
                        </h3>
                        <ul class="c4 lst-kix_list_14-0 start">
                            <li class="c0 c2 li-bullet-0">
                                <span class="c1">Selorg is committed to ethical business practices, ensuring
                                    fair treatment of all users.</span>
                            </li>
                            <li class="c0 c2 li-bullet-0">
                                <span class="c1">It does not engage in discriminatory practices or provide
                                    preferential treatment to third-party delivery
                                    services.</span>
                            </li>
                        </ul>
                        <h2 class="c8">
                            <span class="c5">3. User Acceptance and Obligations</span>
                        </h2>
                        <h3 class="c3"><span class="c7">Usage Rights</span></h3>
                        <p class="c0">
                            <span class="c1">By accepting these Terms, users receive a personal, limited,
                                non-exclusive, non-transferable, and revocable right to access
                                and use the Platform, provided that such usage:</span>
                        </p>
                        <ol class="c4 lst-kix_list_15-0 start" start="1">
                            <li class="c0 c2 li-bullet-0">
                                <span class="c1">Aligns with these Terms.</span>
                            </li>
                            <li class="c0 c2 li-bullet-0">
                                <span class="c1">Complies with applicable laws and regulations.</span>
                            </li>
                            <li class="c0 c2 li-bullet-0">
                                <span class="c1">Is solely for the services and products offered through the
                                    Platform.</span>
                            </li>
                        </ol>
                        <h3 class="c3"><span class="c7">Prohibited Activities</span></h3>
                        <p class="c0">
                            <span class="c1">By using the Platform, users agree not to:</span>
                        </p>
                        <ol class="c4 lst-kix_list_16-0 start" start="1">
                            <li class="c0 c2 li-bullet-0">
                                <span class="c1">Reproduce, duplicate, copy, sell, or resell any portion of
                                    the Platform for commercial purposes.</span>
                            </li>
                            <li class="c0 c2 li-bullet-0">
                                <span class="c1">Use framing techniques or other methods to enclose
                                    trademarks, logos, or proprietary information without prior
                                    authorization.</span>
                            </li>
                            <li class="c0 c2 li-bullet-0">
                                <span class="c1">Deploy unauthorized tools (such as bots, spiders, or
                                    similar technologies) to monitor, extract, or collect data
                                    from the Platform.</span>
                            </li>
                        </ol>
                        <h3 class="c3"><span class="c7">Content Restrictions</span></h3>
                        <p class="c0">
                            <span class="c1">Users must not upload, share, or transmit content that:</span>
                        </p>
                        <ol class="c4 lst-kix_list_17-0 start" start="1">
                            <li class="c0 c2 li-bullet-0">
                                <span class="c1">Belongs to others without proper authorization.</span>
                            </li>
                            <li class="c0 c2 li-bullet-0">
                                <span class="c1">Is defamatory, obscene, invasive of privacy, or otherwise
                                    harmful.</span>
                            </li>
                            <li class="c0 c2 li-bullet-0">
                                <span class="c1">Exploits or harms minors.</span>
                            </li>
                            <li class="c0 c2 li-bullet-0">
                                <span class="c1">Violates intellectual property rights.</span>
                            </li>
                            <li class="c0 c2 li-bullet-0">
                                <span class="c1">Attempts to reverse engineer or exploit the
                                    Platform&rsquo;s software or data.</span>
                            </li>
                            <li class="c0 c2 li-bullet-0">
                                <span class="c1">Violates laws or promotes illegal activity.</span>
                            </li>
                            <li class="c0 c2 li-bullet-0">
                                <span class="c1">Misrepresents identity or impersonates others.</span>
                            </li>
                            <li class="c0 c2 li-bullet-0">
                                <span class="c1">Contains harmful code, such as viruses or malware.</span>
                            </li>
                        </ol>
                        <h2 class="c8">
                            <span class="c5">4. User Account &amp; Registration Obligation</span>
                        </h2>
                        <ul class="c4 lst-kix_list_18-0 start">
                            <li class="c0 c2 li-bullet-0">
                                <span class="c6">Account Creation:</span><span class="c1">&nbsp;Register on the Platform
                                    by providing required
                                    details as outlined in the Privacy Policy.</span>
                            </li>
                            <li class="c0 c2 li-bullet-0">
                                <span class="c6">User Responsibility:</span><span class="c1">&nbsp;Ensure all account
                                    information is accurate, complete,
                                    and up-to-date.</span>
                            </li>
                            <li class="c0 c2 li-bullet-0">
                                <span class="c6">Information Updates</span><span class="c11 c15">:</span><span
                                    class="c1">&nbsp;Promptly update incorrect or outdated details or
                                    request Selorg to do so.</span>
                            </li>
                            <li class="c0 c2 li-bullet-0">
                                <span class="c6">Access Restrictions:</span><span class="c1">&nbsp;False, inaccurate, or
                                    unauthorized information may
                                    result in denial of access or supply without notice.</span>
                            </li>
                            <li class="c0 c2 li-bullet-0">
                                <span class="c6">Account Security:</span><span class="c1">&nbsp;Maintain the
                                    confidentiality of your account
                                    credentials and take full responsibility for activities
                                    under your account.</span>
                            </li>
                            <li class="c0 c2 li-bullet-0">
                                <span class="c6">Unauthorized Use:</span><span class="c1">&nbsp;Report any unauthorized
                                    access or misuse to Selorg
                                    immediately.</span>
                            </li>
                            <li class="c0 c2 li-bullet-0">
                                <span class="c6">Liability Risk:</span><span class="c1">&nbsp;Failure to protect account
                                    security may lead to
                                    damages for which you could be held accountable.</span>
                            </li>
                        </ul>
                        <h2 class="c8"><span class="c5">5. User Eligibility</span></h2>
                        <p class="c0">
                            <span class="c1">Supplies are not available to:<br />
                                a. Minors (persons under 18 years of age);<br />
                                b. Undischarged insolvents; or<br />
                                c. Individuals deemed &quot;incompetent to contract&quot; as
                                per the Indian Contract Act, 1872&mdash;including
                                un-discharged insolvents and others falling within this
                                category&mdash;are not permitted to use the Site.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">By using the Platform, you represent and warrant that you
                                are:<br />
                                i. Of legal age to form a binding contract;<br />
                                ii. Not barred from receiving supplies under applicable laws;
                                and<br />
                                iii. Competent to enter into a binding contract.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">If you are under 18, you may use the Platform only with the
                                express consent of a parent or guardian and under their
                                supervision.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">Discrimination against third-party delivery service providers
                                on the basis of race, religion, caste, creed, national origin,
                                disability, sexual orientation, sex, marital status, gender
                                identity, or age is strictly prohibited. Evidence of such
                                behavior may result in the suspension of your account and
                                access to the Platform without liability or recourse.</span>
                        </p>
                        <h2 class="c8">
                            <span class="c5">6. Product Pricing Information</span>
                        </h2>
                        <p class="c0">
                            <span class="c1">Ownership of products transfers to you upon delivery to the
                                address specified during the order process.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">Prices for products may vary due to multiple factors. You
                                should review pricing before placing an order. Products are
                                sold in Indian Rupees, either at Maximum Retail Price (MRP)
                                (inclusive of taxes) or at a discounted price. Errors in
                                pricing or product information should be reported for
                                correction.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">During the checkout process, all charges, including delivery
                                fees, will be disclosed. The company does not manipulate
                                product prices.</span>
                        </p>
                        <h2 class="c8">
                            <span class="c5">7. Delivery Terms and Charges</span>
                        </h2>
                        <p class="c0">
                            <span class="c1">Last-mile delivery charges may apply. Estimated delivery
                                times are communicated on the Platform but are not guaranteed
                                due to factors such as demand, traffic, weather, or force
                                majeure events. The estimated time of arrival (ETA) is
                                displayed on the app homepage before order placement.
                                Additional fees (e.g., packing, peak hour, or late-night fees)
                                will be visible at checkout.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">It is your responsibility to provide an accurate and complete
                                delivery address. The company is not liable for delays caused
                                by incorrect addresses.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">Products will be delivered to an appropriate person at the
                                specified address. If you request unattended delivery, the
                                company is not responsible for theft, tampering, or
                                contamination.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">If you choose Cash on Delivery (CoD) and fail to make payment
                                upon delivery, the company may refuse delivery, cancel the
                                order, and retain any attempted delivery fees.</span>
                        </p>
                        <h2 class="c8">
                            <span class="c5">8. Returns, Cancellations, and Refunds</span>
                        </h2>
                        <p class="c0">
                            <span class="c1">Returns are accepted under specific conditions, including
                                cases where incorrect items have been delivered or when
                                products arrive damaged or Worsened, provided supporting proof
                                such as images is submitted. To qualify for a return or
                                exchange, the product must remain sealed, unopened, and in its
                                original condition, with requests made on the same day as
                                delivery. Once an order has been accepted by the company,
                                users cannot cancel it, while company-initiated cancellations
                                may occur due to unavailability or force majeure events.
                                Refunds, upon verification, are processed within seven
                                business days and credited to the original payment source.
                                Additionally, the company reserves the right to introduce
                                further terms concerning returns, cancellations, or refunds,
                                which will be communicated through push notifications or other
                                appropriate channels.</span>
                        </p>
                        <h2 class="c8">
                            <span class="c5">9. Billing and Payment Information</span>
                        </h2>
                        <p class="c0">
                            <span class="c1">The Platform will display the accepted payment methods during
                                the purchase process.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">Subject to applicable laws and the Privacy Policy, you agree
                                that the Company may use third-party vendors and service
                                providers, including payment gateways, to process payments and
                                manage payment information. The Company ensures that such
                                third-party vendors and service providers possess the required
                                licenses from relevant authorities.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">To use the services, you must provide valid bank details or
                                other necessary information to facilitate payment
                                (&ldquo;Payment Details&rdquo;). By submitting your Payment
                                Details, you confirm that: (a) You are legally authorized to
                                provide such Payment Details; (b) You are legally authorized
                                to make payments using these Payment Details; and (c) Your
                                actions comply with applicable laws and the terms governing
                                the use of such Payment Details. You may add, update, or
                                delete Payment Details on the Platform at any time.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">Except as required by law, the Company is not responsible for
                                payments authorized through the Platform using your Payment
                                Details. The Company is not liable for incomplete payments
                                resulting from: (a) Insufficient funds in your account or
                                payment method; (b) Incorrect Payment Details provided; (c)
                                Expired payment methods; or (d) External factors, such as
                                power outages or internet interruptions, that prevent the
                                transaction from being completed.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">The Company is not liable for unauthorized transactions
                                conducted on the Platform using your Payment Details and is
                                under no obligation to refund such transactions.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">The Company&rsquo;s payment services are electronic,
                                automated systems utilizing authorized banking infrastructure
                                and card payment gateways. For certain payment methods,
                                additional charges or fees may apply, as determined by your
                                payment provider.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">Ownership of products purchased on the Platform transfers to
                                you upon successful payment and fulfillment of any order
                                requirements.</span>
                        </p>
                        <h2 class="c8">
                            <span class="c5">10. Promotional Content</span>
                        </h2>
                        <p class="c0">
                            <span class="c1">The Platform may display advertisements from third-party
                                advertisers (&ldquo;Third-Party Advertisers&rdquo;). The
                                Company does not review, endorse, or take responsibility for
                                the content provided by Third-Party Advertisers to the extent
                                allowed by law.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">If you are a Third-Party Advertiser, you must comply with the
                                Company&rsquo;s policies and other contractual requirements
                                for placing advertisements. Advertisements should not be
                                misleading or violate applicable laws or guidelines issued by
                                regulatory bodies. The Company reserves the right to remove
                                advertisements or request substantiating evidence if they
                                believe the content is misleading or unlawful.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">If you find any third-party advertisement inappropriate or in
                                violation of applicable laws, please contact the Company at
                                the provided email address.</span>
                        </p>
                        <h2 class="c8"><span class="c5">11. Customer Care</span></h2>
                        <h3 class="c3">
                            <span class="c7">1. Warranty and Guarantee</span>
                        </h3>
                        <p class="c0">
                            <span class="c1">&#9679; &nbsp; &nbsp; Manufacturer Responsibility: Warranties
                                and guarantees for products are provided solely by the
                                manufacturers.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">&#9679; &nbsp; &nbsp; Customer Support: Contact the
                                manufacturer directly using the details provided on product
                                packaging for any warranty or guarantee-related issues.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">&#9679; &nbsp; &nbsp; Disclaimer: The Company acts as a
                                reseller and is not liable for manufacturing defects, quality
                                issues, or performance concerns.</span>
                        </p>
                        <h3 class="c3"><span class="c7">2. Product Information</span></h3>
                        <p class="c0">
                            <span class="c1">&#9679; &nbsp; &nbsp; Images: Product images on the Platform
                                are for reference only and may differ from the actual
                                product.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">&#9679; &nbsp; &nbsp; Labels: Verify details such as
                                nutritional values, usage instructions, manufacture date, and
                                batch information from the product label before use.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">&#9679; &nbsp; &nbsp; Accuracy Disclaimer: While the Company
                                strives to provide accurate information, discrepancies may
                                exist. Refer to the product packaging for precise
                                details.</span>
                        </p>
                        <h3 class="c3">
                            <span class="c7">3. Transaction Monitoring</span>
                        </h3>
                        <p class="c0">
                            <span class="c1">&#9679; &nbsp; &nbsp; Right to Refuse: The company reserves
                                the right to reject or delay transactions if there are
                                concerns about user credibility or order authenticity.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">&#9679; &nbsp; &nbsp; Checks: Security checks may be
                                conducted, and suspicious orders may be delayed or
                                canceled.</span>
                        </p>
                        <h3 class="c3"><span class="c7">4. Fraud Awareness</span></h3>
                        <p class="c0">
                            <span class="c1">&#9679; &nbsp; &nbsp; Sensitive Information: The company will
                                never request sensitive information such as card numbers,
                                CVVs, OTPs, or UPI PINs.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">&#9679; &nbsp; &nbsp; Reporting Fraud: Immediately report
                                suspicious activity to your bank, local authorities, or
                                cybercrime.gov.in.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">&#9679; &nbsp; &nbsp; Verification: Be cautious of fake
                                websites or payment links. Avoid sharing personal or financial
                                information with unauthorized sources.</span>
                        </p>
                        <h2 class="c8">
                            <span class="c5">12. Resolution of Grievances</span>
                        </h2>
                        <h3 class="c3"><span class="c7">1. Grievance Handling</span></h3>
                        <p class="c0">
                            <span class="c1">&nbsp;For order-related issues, you may write to
                                support@selorg.com. The company aims to resolve grievances
                                within the timelines prescribed by applicable laws. If you
                                remain dissatisfied, you can escalate your concerns to the
                                designated grievance officer. Details of the officer are
                                available on the Platform in compliance with the Information
                                Technology Act, 2000, and Consumer Protection (E-Commerce)
                                Rules, 2020.</span>
                        </p>
                        <h3 class="c3"><span class="c7">2. Response Timelines</span></h3>
                        <p class="c0">
                            <span class="c1">The Grievance Officer will acknowledge your complaint within
                                48 hours and resolve it within 30 days of receipt. You agree
                                to cooperate fully by providing any requested information
                                during the grievance resolution process.</span>
                        </p>
                        <h2 class="c8"><span class="c5">13. General Terms</span></h2>
                        <h3 class="c3"><span class="c7">1. Notices</span></h3>
                        <p class="c0">
                            <span class="c1">All official communications will be sent via email to your
                                registered address, through messaging apps linked to your
                                registered phone number, or as general notifications on the
                                Platform.</span>
                        </p>
                        <h3 class="c3"><span class="c7">2. Assignment</span></h3>
                        <p class="c0">
                            <span class="c1">You may not transfer your rights or obligations under these
                                Terms to a third party. The Company reserves the right to
                                assign its rights and obligations to any successor or third
                                party without requiring your consent.</span>
                        </p>
                        <h3 class="c3"><span class="c7">3. Severability</span></h3>
                        <p class="c0">
                            <span class="c1">If any provision of these Terms is deemed unenforceable, the
                                remaining provisions will continue in full effect to reflect
                                the original intent as closely as possible.</span>
                        </p>
                        <h3 class="c3"><span class="c7">4. Force Majeure</span></h3>
                        <p class="c0">
                            <span class="c1">The company is not liable for delays or failures to fulfill
                                obligations due to causes beyond its control, including
                                natural disasters, wars, strikes, pandemics, regulatory
                                restrictions, or third-party service disruptions.</span>
                        </p>
                        <h2 class="c8">
                            <span class="c5">14. Intellectual Property Rights and Ownership</span>
                        </h2>
                        <p class="c0">
                            <span class="c1">The platform, along with its processes, content, and
                                arrangement&mdash;including text, videos, graphics, user
                                interfaces, visual designs, sound elements, artwork, and
                                computer code (collectively referred to as
                                &quot;Content&quot;)&mdash;is either owned or licensed by the
                                Company. The design, structure, layout, coordination,
                                appearance, and arrangement of this Content are protected
                                under copyright, trademark, patent, and other applicable
                                intellectual property laws.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">The Company does not claim ownership, rights, titles, or
                                interests in the intellectual property related to the products
                                available on the platform.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">References to third-party names, trademarks, services, or
                                products on the platform are provided solely for user
                                convenience and with explicit consent. These references do not
                                imply endorsement, sponsorship, or recommendation by the
                                Company.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">The trademarks, logos, and service marks displayed on the
                                platform (&quot;Marks&quot;) are either the Company&#39;s
                                property or licensed from third parties. Users are prohibited
                                from using these Marks without prior written consent from the
                                Company or the respective third-party owner. Accessing or
                                using the platform does not confer any rights to utilize
                                trademarks, logos, or other proprietary materials in any
                                form.</span>
                        </p>
                        <h2 class="c8">
                            <span class="c5">15. Intellectual Property Rights Infringement</span>
                        </h2>
                        <p class="c0">
                            <span class="c1">If you believe that the platform infringes upon your
                                intellectual property rights, you must promptly notify the
                                company in writing at legal@selorg.com. Such notifications
                                should only be submitted by the intellectual property owner or
                                an authorized agent. False claims may result in termination of
                                your access to the platform.</span>
                        </p>
                        <h3 class="c3">
                            <span class="c7">Your notice should include the following details:</span>
                        </h3>
                        <p class="c0">
                            <span class="c1">&#9675; &nbsp; &nbsp; Proof of ownership of the intellectual
                                property you believe is being infringed.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">&#9675; &nbsp; &nbsp; Identification of the material you
                                believe is infringing, including sufficient information about
                                its location on the platform.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">&#9675; &nbsp; &nbsp; A statement that you have a good-faith
                                belief that the identified material is unauthorized by the
                                intellectual property owner, its agent, or the law.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">&#9675; &nbsp; &nbsp; Your contact information, such as
                                address, phone number, and email.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">&#9675; &nbsp; &nbsp; A statement under penalty of perjury
                                that the information provided is accurate and that you are the
                                intellectual property owner or authorized to act on behalf of
                                the owner.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">&#9675; &nbsp; &nbsp; Your physical or electronic
                                signature.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">Incomplete requests will not be considered by the
                                company.</span>
                        </p>
                        <h2 class="c8">
                            <span class="c5">16. Violations of Terms</span>
                        </h2>
                        <p class="c0">
                            <span class="c1">You acknowledge that any violation of these Terms may cause
                                irreparable harm to the Company, for which monetary damages
                                may not suffice. Therefore, the company is entitled to seek
                                injunctive or equitable relief in addition to other legal
                                remedies available under applicable laws.</span>
                        </p>
                        <h2 class="c8">
                            <span class="c5">17. Account Suspension and Termination </span>
                        </h2>
                        <p class="c14">
                            <span class="c1 c11">These terms will remain valid until either you or the company
                                decide to terminate them. If you do not agree with the terms
                                or are unsatisfied with the platform, you have the option to
                                deactivate your account or stop using the platform. The
                                company reserves the right to suspend, restrict, or terminate
                                access at its discretion if terms, privacy policies, or
                                ethical standards are violated. Certain provisions will remain
                                effective beyond termination unless explicitly revoked.
                                Termination does not exempt you from obligations, including
                                payments for supplies purchased before the termination date,
                                and you remain responsible for any applicable charges up to
                                that point.</span>
                        </p>
                        <h2 class="c8">
                            <span class="c5">18. Limitation of Warranties and Liability</span>
                        </h2>
                        <h3 class="c3">
                            <span class="c7">To the fullest extent permitted by law:</span>
                        </h3>
                        <p class="c0">
                            <span class="c1">&#9675; &nbsp; &nbsp; The platform and its content are
                                provided on an &ldquo;as is&rdquo; basis without any
                                warranties, whether express or implied, including but not
                                limited to warranties of title, non-infringement,
                                merchantability, or fitness for a particular purpose. The
                                company does not guarantee uninterrupted, timely, secure, or
                                error-free access to the platform.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">&#9675; &nbsp; &nbsp; The company is not responsible for any
                                unauthorized use of your account or account information on the
                                platform.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">&#9675; &nbsp; &nbsp; While efforts are made to ensure the
                                accuracy of the information on the platform, the company does
                                not guarantee the completeness or reliability of any data. It
                                is not liable for delays, interruptions, or failures in
                                accessing or using the platform due to technical issues or
                                factors beyond its control.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">Product images and colors displayed on the platform are for
                                representation purposes only. Actual colors may vary based on
                                device settings, and the company does not guarantee accuracy
                                in such cases.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">The platform&rsquo;s content may not be appropriate or
                                accessible outside India. Users accessing the platform from
                                other jurisdictions do so at their own risk and are
                                responsible for compliance with local laws.</span>
                        </p>
                        <p class="c0">
                            <span class="c1">These Terms do not authorize or endorse promotional
                                activities or solicitations in jurisdictions where they are
                                not permitted.</span>
                        </p>
                        <h2 class="c8">
                            <span class="c5">19. Indemnification and Limitation of Liability</span>
                        </h2>
                        <p class="c0">
                            <span class="c1">You agree to indemnify and protect the company, along with
                                its affiliates, officers, directors, employees, and partners,
                                from any losses, liabilities, claims, damages, or expenses
                                resulting from:</span>
                        </p>
                        <ul class="c4 lst-kix_list_19-0 start">
                            <li class="c0 c2 li-bullet-0">
                                <span class="c1">Your breach of obligations under these Terms or the Privacy
                                    Policy.</span>
                            </li>
                            <li class="c0 c2 li-bullet-0">
                                <span class="c1">Third-party claims arising from your use of the
                                    platform.</span>
                            </li>
                            <li class="c0 c2 li-bullet-0">
                                <span class="c1">Misstatement of any data or information provided by
                                    you.</span>
                            </li>
                            <li class="c0 c2 li-bullet-0">
                                <span class="c1">Variations and Violations of applicable laws or third-party
                                    rights, including intellectual property rights.</span>
                            </li>
                        </ul>
                        <p class="c0">
                            <span class="c1">The company and its affiliates shall not be liable for any
                                indirect, incidental, or consequential damages resulting from
                                your use of the platform. The limitations and exclusions
                                stated herein apply to the fullest extent permitted by
                                law.</span>
                        </p>
                        <h2 class="c8">
                            <span class="c5">20. Governing Law and Jurisdiction</span>
                        </h2>
                        <p class="c0">
                            <span class="c1">This User Agreement shall be governed by the laws of India.
                                Any disputes arising from this agreement shall fall under the
                                exclusive jurisdiction of the courts in Chennai. The
                                arbitration shall take place in Chennai, and the High Court of
                                Chennai shall have exclusive jurisdiction. Indian law shall
                                apply to all matters related to this agreement.</span>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>